h1{
    font-size: 48px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 17px;
}

#span1{
    color: orange;
}

section{
    display: flex;

}

img{
    height: 500px;
    width: auto;
    padding-right: 20px;
}

.half-width{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-right: auto
    
};

.half-width img{
    width: 100%;
}

a{
    text-decoration: none;
}

#hire{
    background: linear-gradient(orange, rgb(252, 95, 38));
    padding: 10px 40px;
    border-radius: 5px;
    font-size: large;
}

#resume{
    background: linear-gradient(orange, rgb(252, 95, 38));
    padding: 10px 40px;
    border-radius: 5px; 
    font-size: large;
}

.text{
    font-size: 20px;
}